<!DOCTYPE html>
<head>
  <META NAME="Author" CONTENT="Camille RUBIO">
  <META NAME="Content-language" CONTENT="french">
  <META http-equiv="Content-Type" content="text/html; charset=utf-8">
  <META NAME="description" CONTENT="Mon site">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <title>TP Programmation Web</title>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand text-white" href="/">Le beau site web</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link text-white" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/compte">Compte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/contactus">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navigation -->
  <h1>BRAVO ADMIN </h1>
  <h1>BRAVO ADMIN </h1>
  <h1>BRAVO ADMIN </h1>
  <h1>BRAVO ADMIN </h1>
  <h1>BRAVO ADMIN </h1>
  <h1>BRAVO ADMIN </h1>
  <h1>BRAVO ADMIN </h1>
  <h1>BRAVO ADMIN </h1>
  <h1>BRAVO ADMIN </h1>
  <h1>BRAVO ADMIN </h1>
  <h1>BRAVO ADMIN </h1>
  <h1>BRAVO ADMIN </h1>
  <h1>BRAVO ADMIN </h1>
  <h1>BRAVO ADMIN </h1>
  </body>
  </html>
