<!DOCTYPE html>
<head>
  <META NAME="Author" CONTENT="Camille RUBIO">
  <META NAME="Content-language" CONTENT="french">
  <META http-equiv="Content-Type" content="text/html; charset=utf-8">
  <META NAME="description" CONTENT="Mon site">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <title>TP Programmation Web</title>
  <link type="text/css" href="general.css" rel="stylesheet">
  <script type="text/javascript" src="/diaporama.js"></script>
</head>
<body onload="charger()">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand text-white" href="#">Le beau site web</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link text-white" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/compte">Compte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/contactus">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navigation -->

  <!-- Card -->
  <div class="container container mt-4 mb-5">
    <h3 class="text-center">titre</h3>
    <hr class="bg-dark mb-4 w-25">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="/img/8" alt="Card image cap">
          <div class="card-block p-3">
            <h4 class="card-title">Jeu 421</h4>
            <p class="card-text">Obtenir les trois chiffres en moins de coups possible</p>
            <a href="/jeu421" class="btn btn-primary rounded-0 mb-2">Jouer</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="/img/9" alt="Card image cap">
          <div class="card-block p-3">
            <h4 class="card-title">Nombre Mystère</h4>
            <p class="card-text">Trouver le nombre en moins de coup possible.</p>
            <a href="/nbmyst" class="btn btn-primary rounded-0 mb-2">Jouer</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="/img/10" alt="Card image cap">
          <div class="card-block p-3">
            <h4 class="card-title">Le Snake</h4>
            <p class="card-text">Manger le plus possible.</p>
            <a href="/snake" class="btn btn-primary rounded-0 mb-2">Jouer</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Card -->
  <div class="container mb-5">
    <div class="row">
      <div class="col-md-8">
        <h3 class="display-4">Description</h3>
        <hr class="bg-dark w-25 ml-0">
        <p class="lead">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        </p>
        <p>
          Sed (saepe enim redeo ad Scipionem, cuius omnis sermo erat de amicitia) querebatur, quod omnibus in rebus homines diligentiores essent; capras et oves quot quisque haberet, dicere posse, amicos quot haberet, non posse dicere et in illis quidem parandis adhibere curam, in amicis eligendis neglegentis esse nec habere quasi signa quaedam et notas, quibus eos qui ad amicitias essent idonei, iudicarent. Sunt igitur firmi et stabiles et constantes eligendi; cuius generis est magna penuria. Et iudicare difficile est sane nisi expertum; experiendum autem est in ipsa amicitia. Ita praecurrit amicitia iudicium tollitque experiendi potestatem.
      </div>
      <div class="col-md-4 mt-5" id="diaporama">
        <img width="400" alt="Diaporama" onclick="arreterDiapo()"/>
        <ul style="display:none" class="diaporama" >
          <li> /img/1</li>
          <li> /img/2</li>
          <li> /img/3</li>
          <li> /img/4</li>
          <li> /img/5</li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
